
 <style>
 @import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
 </style>

 html
 {  
  scroll-behavior: smooth;
}

.header
{
  height: 20px;
  text-align: center;
  display: flex;
}

.title
  { color: rgb(63, 42, 203);
    font-size: 36px; 
  }

img.displayed

{ 
display:inline flex; 
margin-left: auto;
margin-right: auto;
padding: 20px 0;
}

body {
  background-color: #8de29d;
  background-image: url(assets/img/Фон.jpg);
  font-family: 'Chela One', inherit;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px;
  line-height: 1.5;
  color: #075427;

} 

.nav-list {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  
}

  .nav-link 
  {
    padding:0 14px;
    line-height: 50px;
    text-decoration:underline;
    transition: .3s;
  }

  .link {
    text-decoration: none;
    color: #e0e70d;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #0df02f;
  }

  .container {
    max-width: 1200px;
    margin:0 auto;
  
   
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
 
  }

   * {
    box-sizing: border-box;
  }

  .section-item a {
    color: aquamarine ;
    text-decoration: none;  
   transition: color 0.5s;
  }

  .section-item a:hover {
    color: #1fe936;
  }

  .section-title {
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #1ab886;
  }

  @media (max-width: 768px) 
  {
    .section {
      width: 100%;
    }
  
  * {
    box-sizing: border-box;
  }
  
  .section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #098019;
    border-radius: 50%;
  }
  
